.mc {
  width: 100%;
  min-height: 100vh;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.mb {
  background: #111;
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 950px;
  position: relative;
}

.ab {
  max-width: 850px;
  margin: 0 auto;
}

.btn-voltar {
  position: absolute;
  top: 20px;
  left: 25px;
  background: #222;
  color: #a259ff;
  padding: 8px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 15px;
  border: 1px solid #7b2bff;
  transition: .3s;
}

.btn-voltar:hover {
  background: #7b2bff;
  color: #fff;
}

.mt {
  color: #a259ff;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

.fa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 25px;
  margin-top: 25px;
  padding: 0 10px;
}

.fg {
  display: flex;
  flex-direction: column;
}

.ff {
  grid-column: 1 / 3;
}

.flb {
  color: #a259ff;
  font-size: 16px;
  margin-bottom: 8px;
  margin-top: 6px;
}

.ifl {
  width: 93%;
}

.ifl,
.sf {
  padding: 14px;
  background: #1a1a1a;
  border: 1px solid #7b2bff;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  outline: none;
  transition: 0.3s;
}

.ifl:focus,
.sf:focus {
  border-color: #9b4dff;
}

.pc {
  position: relative;
  width: 100%;
}

.pi {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.7;
  filter: brightness(0) invert(1);
  transition: 0.2s;
}

.pi:hover {
  opacity: 1;
}

.bs {
  background: #8b4cff;
  padding: 14px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
  margin-left: 20%;
  margin-right: 20%;
}

.bs:hover {
  background: #773ae9;
}

@media (max-width: 600px) {
  .fa {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .ff {
    grid-column: 1 / 2;
  }
}
