
.add-box {
  max-width: 600px;
  margin: 0 auto;
}

.form-add {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


.form-label {
  color: #a259ff;
  font-size: 16px;
  margin-bottom: 6px;
  margin-top: 12px;
}

.input-field,
.select-field {
  width: 95%;
  padding: 12px;
  background: #1a1a1a;
  border: 1px solid #7b2bff;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  outline: none;
  transition: 0.3s;
}
.select-field {
  width: 100%;
}

.input-field:focus,
.select-field:focus {
  border-color: #9b4dff;
}


.btn-save {
  background: #8b4cff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  transition: 0.3s;
}

.btn-save:hover {
  background: #773ae9;
}

@media (max-width: 600px) {
  .add-box {
    width: 95%;
  }
}
.password-container {
  position: relative;
  width: 90%;
}

.password-icon {
  position: absolute;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s;
}

.password-icon:hover {
  opacity: 1;
}

