body.dashboard-user {
  background-color: #000;
}

.dashboard-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dashboard-box {
  background: #121212;
  padding: 40px;
  width: 420px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(58,139,255,0.25);
  box-sizing: border-box;
}

.dashboard-titlle {
  color: #66aaff;
  font-size: 26px;
  margin-bottom: 30px;

}

.dashboard-role {
  color: #b8c9ff;
  font-size: 16px;
  margin-bottom: 30px;
}

.user-edit-btn {
  width: 100%;
  padding: 14px;
  background-color: #3a8bff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: .3s;
}

.user-edit-btn:hover {
  background-color: #1768ff;
}

.dashboard-logot {
  width: 100%;
  padding: 14px;
  background-color: #4a6fff;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  margin-top: 10px;
}

.dashboard-logot:hover {
  background-color: #0026ff;
}


.deldelte {
  margin-top: 10px;
  background: #002b63;
  border: 1px solid rgba(58,139,255,0.25);
  padding: 14px;
  border-radius: 8px;
  color: #68a7ff;
  cursor: pointer;
  transition: .3s;
  width: 100%;
  margin-bottom: 12px;
}

.deldelte:hover {
  background: #01428f;
  color: #fff;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-delete-box {
  background: #121212;
  border: 1px solid rgba(58,139,255,0.25);
  border-radius: 8px;
  width: 380px;
  padding: 30px;
  color: white;
  text-align: center;
  

}

.modal-delete-box h2 {
  margin-bottom: 12px;
  font-size: 20px;
  color: #fcfdff;
}


.modal-delete-input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid rgba(58,139,255,0.25);
  background: #0e0e0e;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  margin-left: -12px;

}

.modal-delete-input:focus {
  border: 1px solid #3a8bff;
  outline: none;
}


.modal-delete-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.modal-confirm {
  background-color: #3a8bff;
  border: none;
  padding: 12px 18px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: .3s;
  width: 48%;
}

.modal-confirm:hover {
  background-color: #1768ff;
}

.modal-cancl {
  background: #4a6fff;
  border: none;
  padding: 12px 18px;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  transition: .3s;
  width: 48%;
}

.modal-cancl:hover {
  background-color: #0026ff;
}
.senha-container {
  position: relative;
  width: 100%;
}

.icone-olho {
  position: absolute;
  right: 2px;
  top: 50%;
  width: 22px;
  height: 22px;
  transform: translateY(-35%);

  cursor: pointer;
  opacity: 0.7;
  user-select: none;
  filter: brightness(0) invert(1);

}

.icone-olho:hover {
  opacity: 1;
}

