  body.dashboard-admin {
    background-color: #000;
    
  }

  .dashboard-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    color: #fff;
  }

  .dashboard-contaiiner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   }

  .admin-title {
    color: #fff;
    margin-bottom: 20px;
  }

  .dashboard-boxe {
    background: #121212;
    padding: 40px;
    width: 500px;
    border-radius: 12px;
    text-align: center;
     border: 2px solid #5a14d6;

  }

  .dashboard-title {
    color: #a259ff;
  }

  .dashboard-role {
    color: #fdebff;
  }

  .dashboard-logout {
    width: 100%;
    padding: 14px;
    background-color: #7b2bff;
    border: none;
    margin-top: 12px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
  }

  .dashboard-logout:hover {
    background-color: #5a14d6;
  }

  .admin-btn {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background: #7b2bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
  }

  .admin-btn:hover {
    background: #5a14d6;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .modal-box {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
     border: 2px solid #5a14d6;
    color: #fff;
  }

  .modal-box input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #7b2bff;
    background: #111;
    color: #fff;
    font-size: 16px;
    

  }

  .modal-box button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background: #7b2bff;
    color: white;
    cursor: pointer;
    transition: .3s;
  }

  .modal-box button:hover {
    background: #5a14d6;
  }

  .passward-container {
    position: relative;
    width: 83%;
    
  }

  .passward-container input {
    width: 100%;
    padding: 12px;
    padding-right: 45px;
    border-radius: 6px;
    border: 1px solid #7b2bff;
    background: #111;
    color: #fff;
    font-size: 16px;
    outline: none;
    
  }

  .passward-icon {
    position: absolute;
    left:320px;
    top: 50%;
    transform: translateY(-30%);
    width: 22px;
    height: 22px;
    cursor: pointer;
    opacity: .8;
    filter: brightness(0) invert(1);
    transition: 0.2s;
  }

  .passward-icon:hover {
    opacity: 1;
  }
  
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: #1a1a1a;
  padding: 25px 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  color: white;
  border: 1px solid #7b2bff;
}

.modal-box h2 {
  margin-bottom: 10px;
}

.modal-buttons {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
   gap: 15px;

}

.btn-cancel {
  background: transparent;
  border: 2px solid #777;
  color: #ccc;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
  
}

.btn-cancel:hover {
  background: #555;
  
}

.btn-confirm {
  background: #a259ff;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.btn-confirm:hover {
  background: #7b2bff;
}

