body.dashboard-user {
  background-color: #000;
}

.dashboard-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.dashboard-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.dashboard-box {
  background: #121212;
  padding: 40px;
  width: 420px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(58,139,255,0.25); 
  box-sizing: border-box;
}


.dashboard-titlle {
  color: #66aaff;
  font-size: 26px;
  margin-bottom: 10px;
}


.dashboard-role {
  color: #b8c9ff;
  font-size: 16px;
  margin-bottom: 30px;
}


.user-edit-btn {
  width: 100%;
  padding: 14px;
  background-color: #3a8bff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: .3s;
}

.user-edit-btn:hover {
  background-color: #1768ff;
}

.dashboard-logot {
  width: 100%;
  padding: 14px;
  background-color: #4a6fff;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  margin-top: 10px;
}

.dashboard-logout:hover {
  background-color: #0026ff;
}
