.panel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #121212;
  padding: 20px;
}

.panel-box {
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 14px;
  width: 100%;
  max-width: 750px;
  border: 2px solid #7b2bff;
}

.panel-title {
  text-align: center;
  font-size: 2rem;
  color: #a259ff;
  margin-bottom: 25px;
}

.panel-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.left-column,
.right-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-label {
  color: #a259ff;
  font-size: 0.95rem;
}

.if,
.ll {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #7b2bff;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 1rem;
  transition: 0.3s;
}


.if:focus,
.ll:focus {
  outline: none;
  border-color: #a259ff;
}
.ll{
  width: 208%;
}
.save-btn {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  background-color: #7b2bff;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  margin-left: 1px;
  
  
}

.save-btn:hover {
  background-color: #5a14d6;
  
}
.input-eye-container {
  position: relative;
  width: 100%;
}

.input-eye-container input {
  width: 85%;
  padding-right: 40px; 
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: brightness(0) invert(1);
  opacity: 0.7;
  transition: 0.2s;
}

.eye-icon:hover {
  opacity: 1;
}

.btn-back {
  background: transparent;
  border: 2px solid #7b2bff;
  color: #a259ff;
  padding: 8px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .3s;
}

.btn-back:hover {
  background: #7b2bff;
  color: white;
}


@media (max-width: 600px) {
  .panel-form-grid {
    grid-template-columns: 1fr;
  }
}