html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  font-family: Arial, sans-serif;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: #000;
}

.auth-box {
  position: relative;
  background: #121212;
  padding: 40px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(58,139,255,0.25);
  box-sizing: border-box;
}

/* titulo */
.auth-title {
  margin-bottom: 25px;
  font-size: 22px;
  color: #66aaff;
}

/* inputs */
.auth-input {
  width: 100%;
  padding: 16px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #3a8bff;
  background: #1a1a1a;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

.auth-input::placeholder {
  color: #b8c9ff;
}

.auth-input:focus {
  border-color: #5ea4ff;
  box-shadow: 0 0 8px rgba(94,164,255,0.5);
  outline: none;
}

/* botão */
.auth-button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background: #3a8bff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
}

.auth-button:hover {
  background: #1768ff;
}

/* AGORA A SETA FICA DENTRO DO CONTAINER */
.auth-back-arrow {
  position: absolute;
  left: 10px;
  top: 10px;
  background: transparent;
  border: 2px solid #7b2bff;
  border: none;
  font-size: 25px;
   border-radius: 8px;
  color: #66aaff;
  cursor: pointer;
  transition: .3s;
}

.auth-back-arrow:hover {
  background: #1944b9;
  color: white;
}

.auth-message {
  margin-top: 15px;
  color: #66aaff;
}

/* recaptcha */
.recaptcha-container iframe {
  filter: invert(1) hue-rotate(200deg);
}
.recaptcha-container {
  filter: hue-rotate(210deg) brightness(0.85) saturate(140%);
  border-radius: 20px;
  height: 56px; /* mesma altura do input */
  overflow: hidden;
}


.recaptcha-container {
  border: 1px solid rgba(58,139,255,0.5);
  border-radius: 6px;
  padding:900px;
  height:56px; /* mesma altura do input */
  filter: hue-rotate(200deg) saturate(180%);
  transform: scale(1.1);
  transform-origin: center;
}
