.manage-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  width: 100%;
  min-height: 100vh;
  background: #000;
  color: #fff;
  
}

.manage-boxes {
  background: #111; 
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 900px;
  border: 1px solid #7b2bff;

}

.manage-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  color: #9b4dff;
}

.filter-input {
  width: 97%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #7b2bff;
  background: #1a1a1a;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
}

.filter-input:focus {
  border-color: #a259ff;
}

.add-btn {
  background: #9b4dff;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 18px;
}

.add-btn:hover {
  background: #7b32e0;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background: #181818;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #7b2bff;

}

.user-table thead {
  background: #181818 !important;
  border: 1px solid #7b2bff;

}

.user-table thead th {
  padding: 12px;
  font-size: 16px;
  color: #a259ff;
  text-align: left;
}

.user-table tbody td {
  padding: 12px;
  border-top: 1px solid #333;
  color: #fff;
}

.user-table tr:hover {
  background: #222;
}

.user-table-empty,
.user-table tbody tr td[colspan] {
  text-align: center;
  padding: 20px;
  color: #bbb;
}

.edit-btna {
  background: #8b4cff;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  height: 39px;
  width: 65px;
}

.delete-btn {
  background: #f33737;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  height: 39px;
  width: 65px;
}

.edit-btna:hover {
  background: #773ae9;
}

.delete-btn:hover {
  background: #d13c3c;
}

@media (max-width: 700px) {
  .user-table thead {
    display: none;
  }

  .user-table tr {
    display: block;
    margin-bottom: 12px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    background: #1b1b1b;
  }

  .user-table td {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
  }

  .user-table td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #a259ff;
  }
}
.back-btn {
  background: #222;
  color: #a259ff;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  transition: 0.3s;
  border: 1px solid #7b2bff;
}

.back-btn:hover {
  background: #7b2bff;
  color: #fff;
}
