html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.login-box {
  background: #121212;
  padding: 40px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  border: 1px solid rgba(58,139,255,0.25);
}

.login-box h2 {
  margin-bottom: 25px;
  color: #66aaff;
}

.login-box input {
  width: 100%;
  padding: 16px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #3a8bff;
  background: #1a1a1a;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

.login-box input::placeholder {
  color: #b8c9ff;
}

.password-contai input {
  padding-right: 48px;
  
}

.login-box button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background: #3a8bff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
}

.login-box button:hover {
  background: #1768ff;
}

.login-box a {
  display: block;
  margin-top: 15px;
  color: #66aaff;
  text-decoration: none;
  font-size: 14px;
}

.login-box a:hover {
  text-decoration: underline;
}

.error-message {
  color: #ffb3b3;
  background: rgba(255, 0, 0, 0.1);
  border: 1px solid rgba(255,80,80,0.3);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.password-contai {
  position: relative;
  width: 100%;
}

.passord-icon {
  position: absolute;
  left: 285px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  cursor: pointer;
  opacity: .8;
  filter: brightness(0) invert(1);
  transition: .2s;
}

.passord-icon:hover {
  opacity: 1;
}
