html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
  font-family: Arial, sans-serif;
}

/* container central */
.reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

/* caixa do formulário */
.reset-box {
  background: #121212;
  padding: 40px;
  border-radius: 12px;
  width: 800px;
  height:450px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  border: 1px solid rgba(58,139,255,0.25);
}

/* título */
.reset-title {
  margin-bottom: 25px;
  color: #66aaff;
}

/* formulário */
.reset-form {
  display: flex;
  flex-direction: column;
}

/* inputs */
.reset-input {
  width: 100%;
  padding: 20px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #3a8bff;
  background: #1a1a1a;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}

.reset-input::placeholder {
  color: #b8c9ff;
}

/* botão enviar */
.reset-btn {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background: #3a8bff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: .3s;
}

.reset-btn:hover {
  background: #1768ff;
}

/* mensagem de retorno */
.reset-msg {
  color: #99ffb8;
  background: rgba(0,255,170,0.08);
  border: 1px solid rgba(0,255,170,0.2);
  padding: 10px;
  margin-top: 18px;
  border-radius: 8px;
  font-size: 14px;
}
.reset-row {
  display: flex;
  gap: 12px;
}

.reset-row .reset-input {
  flex: 1;
}
.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

